#pds-header {
  background-color: #00427c !important; /* Testing w/ main PS Site header color */
}
#pds-header > header {
  flex: 1 0 25% !important;
}
.pds-app-header-bar-center {
  flex: 1 1 50% !important;
}
.pds-app-actions {
  flex: 1 0 25% !important;
}

/* Slide-down navigation bar for section anchors */
#demoNavBar {
  top: 0;
  display: inline-flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  align-content: center;
  width: auto;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  background-color: #00427c;
  z-index: 1;
}
#demoNavBar a {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  vertical-align: middle;
  min-width: 0;
  min-height: 0;
  font-size: 80%;
  width: auto;
  border: 2px outset #00629c;
}
#demoNavBar a:hover {
  color: lightgray;
}
#demoNavBar .active {
  border: 2px inset #00629c;
  color: lightgray;
}
#demoNavBar :focus {
  color: lightgray;
  outline: none;
}
/* Make inputs look normal */
#content-main > input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea, select {
  border-style: inset;
  border-width: 2px;
  border-color: rgb(118,118,118) rgb(133,133,133) rgb(133,133,133) rgb(118,118,118);
  padding: 3px;
  background-color: rgb(255,255,255);
    /*background-color: rgb(217,217,217);*/
    /* highlight custom fields grey !!FOR BUG-FINDING/FIXING ONLY!! */
}
#content-main > input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea, select {
  border-style: inset;
  border-width: 2px;
  border-color: rgb(118,118,118) rgb(133,133,133) rgb(133,133,133) rgb(118,118,118);
  padding: 3px;
  background-color: rgb(255,255,255);
    /*background-color: rgb(217,217,217);*/
    /* highlight custom fields grey !!FOR BUG-FINDING/FIXING ONLY!! */
}
#content-main > input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea, select {
  border-style: inset;
  border-width: 2px;
  border-color: rgb(118,118,118) rgb(133,133,133) rgb(133,133,133) rgb(118,118,118);
  padding: 3px;
  background-color: rgb(255,255,255);
    /*background-color: rgb(217,217,217);*/
    /* highlight custom fields grey !!FOR BUG-FINDING/FIXING ONLY!! */
}
#content-main > input[type="text"] {
  border-style: inset;
  border-width: 2px;
  border-color: rgb(118,118,118) rgb(133,133,133) rgb(133,133,133) rgb(118,118,118);
  padding: 3px;
  background-color: rgb(255,255,255);
    /*background-color: rgb(217,217,217);*/
    /* highlight custom fields grey !!FOR BUG-FINDING/FIXING ONLY!! */
}
#content-main > input[type="email"] {
  border-style: inset;
  border-width: 2px;
  border-color: rgb(118,118,118) rgb(133,133,133) rgb(133,133,133) rgb(118,118,118);
  padding: 3px;
  background-color: rgb(255,255,255);
    /*background-color: rgb(217,217,217);*/
    /* highlight custom fields grey !!FOR BUG-FINDING/FIXING ONLY!! */
}
#content-main > input[type="password"] {
  border-style: inset;
  border-width: 2px;
  border-color: rgb(118,118,118) rgb(133,133,133) rgb(133,133,133) rgb(118,118,118);
  padding: 3px;
  background-color: rgb(255,255,255);
    /*background-color: rgb(217,217,217);*/
    /* highlight custom fields grey !!FOR BUG-FINDING/FIXING ONLY!! */
}
#content-main > input[type="tel"] {
  border-style: inset;
  border-width: 2px;
  border-color: rgb(118,118,118) rgb(133,133,133) rgb(133,133,133) rgb(118,118,118);
  padding: 3px;
  background-color: rgb(255,255,255);
    /*background-color: rgb(217,217,217);*/
    /* highlight custom fields grey !!FOR BUG-FINDING/FIXING ONLY!! */
}
#content-main > textarea{
  border-style: inset;
  border-width: 2px;
  border-color: rgb(118,118,118) rgb(133,133,133) rgb(133,133,133) rgb(118,118,118);
  padding: 3px;
  background-color: rgb(255,255,255);
    /*background-color: rgb(217,217,217);*/
    /* highlight custom fields grey !!FOR BUG-FINDING/FIXING ONLY!! */
}
#content-main > select {
  border-style: inset;
  border-width: 2px;
  border-color: rgb(118,118,118) rgb(133,133,133) rgb(133,133,133) rgb(118,118,118);
  padding: 3px;
  background-color: rgb(255,255,255);
    /*background-color: rgb(217,217,217);*/
    /* highlight custom fields grey !!FOR BUG-FINDING/FIXING ONLY!! */
}
#content-main > input:only-child {
  width: 99%;
}
#content-main > tr:not(.headerrow) > td:first-child {
  text-indent: 10px;
}
#content-main .subhead {
  font-weight: bold;
}
#content-main .row > table {
  margin: 0;
  width: 100%;
}
/* Style headers to match other PS pages */
#content-main .collapsed {
  background-color: rgb(237, 237, 237);
}
#content-main .expanded {
  background-color: rgb(163, 191, 204);
}

#demoContactsTable { border-style: none; }
#studentContactsTable { width: calc(100% - 20px); }